{% extends 'music_nation/index.html' %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5" style="font-size:20px">
	    <h2 class="font-weight-bold mt-3" style="font-size:40px">Password Reset Confirm</h2>
		<hr>
        <!--<p>Please enter your new password.</p>-->
        <form method="POST">
            <b>
            {% csrf_token %}
            {{ form|crispy }}                  
            <button class="btn btn-primary" type="submit" style="font-size:20px">Reset password</button></b>
        </form>
    </div>

{% endblock %}