{% extends 'music_nation/index.html' %}


{% block content %}
{% csrf_token %}
	<!--Password reset sent-->
	<div class="container p-5" style="font-size:30px">
  	<h2 class="font-weight-bold mt-3" style="font-size:40px">Password reset sent</h2>
		<hr>
		<p><b>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</b></p>
  </div>

{% endblock %}